<!DOCTYPE html>
<html>
<head>
  <title>Client Details</title>
  <%= stylesheet_link_tag "client_details" %>
</head>
<body>
  <h1><%= "#{@client.client_lastname}様の顧客情報" %></h1>

  <h2>追加情報一覧</h2>

  <div id="field-container">
    <% @client_details.each do |detail| %>
      <div>
        <div class="title">
          <strong></strong> <%= detail.title %>
        </div>
        <div class="content">
          <strong></strong> <%= detail.content %>
        </div>
        <div>
          <%= link_to '編集', edit_client_client_detail_path(@client, detail) %>
          <%= link_to '削除', client_client_detail_path(@client, detail), method: :delete, data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' } %>
        </div>
      </div>
    <% end %>
  </div>

  <p><%= link_to '追加情報を登録する', new_client_client_detail_path(@client) %></p>
  <p><%= link_to '戻る', client_path(@client) %></p>
</body>
</html>