<!DOCTYPE html>
<html>
<head>
  <title>追加情報登録ページ</title>
  <%= stylesheet_link_tag "client_details" %>
</head>
<body>
  <h1><%= "#{@client.client_lastname}様の追加情報を登録する" %></h1>

  <%= form_with model: @client_detail, url: client_client_details_path(@client) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div>
      <label for="title">タイトル</label>
      <%= f.text_field :title, id: "title" %>
    </div>

    <div>
      <label for="content">内容</label>
      <%= f.text_area :content, id: "content" %>
    </div>

    <div class="form-submit">
      <%= f.submit "登録する" %>
    </div>
  <% end %>
   
  <div class="top-right">
    <%= link_to '戻る', client_client_details_path(@client) %>
  </div>
</body>
</html>