<!DOCTYPE html>
<html>
<head>
  <title>追加情報登録ページ</title>
</head>
<body>
  <h1><%= "#{@client.client_lastname}様の追加情報を登録する" %></h1>

  <%= form_with model: @client_detail, url: client_client_details_path(@client) do |form| %>
    <div>
      <label for="title">タイトル:</label>
      <%= form.text_field :title, id: "title" %>
    </div>

    <div>
      <label for="content">内容:</label>
      <%= form.text_area :content, id: "content" %>
    </div>

    <div>
      <%= form.submit "登録する" %>
    </div>
  <% end %>

  <%= link_to '戻る', client_client_details_path(@client) %>
</body>
</html>