<!DOCTYPE html>
<html>
<head>
  <title>Client List</title>
  <%= stylesheet_link_tag "clients" %>
</head>
<body>
  <h1>顧客一覧</h1>

  <div>
    <% current_row = nil %>
    <% @clients.each do |client| %>
      <% if current_row != client.client_lastname_kana[0] %>
        <% current_row = client.client_lastname_kana[0] %>
        <h2><%= current_row %></h2>
      <% end %>
      <div>
        <%= link_to "#{client.client_lastname} #{client.client_firstname}", client_path(client.id) %>
      </div>
    <% end %>
  </div>
  
  <div class="top-right">
    <p><%= link_to "顧客を追加する", new_client_path %></p>
    <p><%= link_to "戻る", home_index_path %></p>
  </div>
</body>
</html>