<!DOCTYPE html>
<html>
<head>
  <title>New Client</title>
  <%= stylesheet_link_tag "clients" %>
</head>
<body>
  <h1>顧客登録</h1>
  <%= form_with(model: @client) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="form-group">
      <div class="name-fields">
        <%= f.label :client_lastname, '姓' %>
        <%= f.text_field :client_lastname, placeholder: "例: 山田" %>
      </div>
      <div class="name-fields">
        <%= f.label :client_firstname, '名' %>
        <%= f.text_field :client_firstname, placeholder: "例: 太郎" %>
      </div>
    </div>
    <div class="form-group">
      <div class="name-fields">
        <%= f.label :client_lastname_kana, 'セイ' %>
        <%= f.text_field :client_lastname_kana, placeholder: "例: ヤマダ" %>
      </div>
      <div class="name-fields">
        <%= f.label :client_firstname_kana, 'メイ' %>
        <%= f.text_field :client_firstname_kana, placeholder: "例: タロウ" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :birthday, '生年月日' %>
      <%= f.text_field :birthday, type: "date" %>
    </div>
    <div class="form-group">
      <%= f.label :gender_id, '性別' %>
      <%= f.select :gender_id, options_for_select(Gender.all.map { |gender| [gender.name, gender.id] }, @client.gender_id) %>
    </div>
    <div class="form-group">
      <%= f.label :post_code, '郵便番号' %>
      <%= f.text_field :post_code, placeholder: "例: 123-4567" %>
    </div>
    <div class="form-group">
      <%= f.label :prefecture_id, '都道府県' %>
      <%= f.select :prefecture_id, options_for_select(Prefecture.all.map { |prefecture| [prefecture.name, prefecture.id] }, @client.prefecture_id) %>
    </div>
    <div class="form-group">
      <%= f.label :municipality, '市区町村' %>
      <%= f.text_field :municipality, class: "long-input" %>
    </div>
    <div class="form-group">
      <%= f.label :address, '番地' %>
      <%= f.text_field :address, class: "long-input", placeholder: "例: 1-2-3" %>
    </div>
    <div class="form-group">
      <%= f.label :building_name, '建物名' %>
      <%= f.text_field :building_name, class: "long-input", placeholder: "例: 〇〇ビル5階" %>
    </div>
    <div class="form-group">
      <%= f.label :phone_number, 'ご自宅番号' %>
      <%= f.text_field :phone_number, placeholder: "例: 0451112222" %>
    </div>
    <div class="form-group">
      <%= f.label :mobile_number, '携帯番号' %>
      <%= f.text_field :mobile_number, placeholder: "例: 0901112222" %>
    </div>
    <div class="form-group">
      <%= f.label :company_name, '会社名' %>
      <%= f.text_field :company_name, class: "long-input", placeholder: "例: 株式会社〇〇" %>
    </div>
    <div class="form-group">
      <%= f.label :project, '案件' %>
      <%= f.text_area :project %>
    </div>
    <div class="form-group">
      <%= f.label :note, '備考' %>
      <%= f.text_area :note %>
    </div>
    <div class="form-group">
      <%= f.submit "登録" %>
    </div>
    <div class="top-right">
      <%= link_to "戻る", clients_path %>
    </div>
  <% end %>
</body>
</html>