<%= stylesheet_link_tag "event" %>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <%= month_calendar events: @events, date: @selected_date do |date, events| %>
        <div class="p-2 bg-light mb-2">
          <strong><%= date.day %></strong>
        </div>
        <% events.each do |event| %>
          <div class="p-1 bg-success text-white mb-1 rounded">
            <div class="event-content"><%= event.content %></div>
            <% if event.start_time.present? && event.end_time.present? %>
              <div class="event-time">
                <%= "#{event.start_time.strftime('%H:%M')} 〜 #{event.end_time.strftime('%H:%M')}" %>
              </div>
            <% elsif event.start_time.present? %>
              <div class="event-time">
                <%= event.start_time.strftime("%H:%M") %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= form_with(model: @event, url: events_path, local: true) do |form| %>
        <% if @event.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
            <ul>
              <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :start_time %>
          <%= form.datetime_select :start_time, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :end_time %>
          <%= form.datetime_select :end_time, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :content %>
          <%= form.text_field :content, class: "form-control" %>
        </div>

        <div class="text-center">
        <%= form.submit "予定を追加", class: "btn btn-primary" %>
    </div>
    <div class="top-right">
      <p><%= link_to "戻る", home_index_path %></p>
    </div>
  <% end %>
</div>