<!DOCTYPE html>
<html>
<head>
  <title>Supusapo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <div id="header">
    <% if user_signed_in? %>
      <span><%= current_user.last_name %>様</span>
      <% unless current_page?(home_index_path) %>
        <%= link_to "トップページに戻る", home_index_path %>
      <% end %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
    <% end %>
  </div>

  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
